.profile-img {
  width:125px;
  height:auto;
  float:right;
  margin: auto;
  padding: 5px;
}

h1 {
  text-align: left;
  font-family: osmose;
  text-transform: uppercase;
  font-size: 50px;
  font-stretch: expanded;

}

.contact {
  font-family: osmose;
}

.cont {
  font-family: surt-bold;
  color: rgb(41, 44, 51)
}

h3 {
  font-family: osmose;
  font-size: 18px;
  background-color: rgb(75, 75, 75);
  color: white;
  width: 100%;
  padding-left: 15px;
  border-radius: 5px;
}

p {
  font-family: surt;
  font-size: 14px;
}


ul {
  font-family: surt;
  font-size: 14px;
}

.job-title {
  font-family: surt;
  font-size: 16px;
}

@font-face {
  font-family: 'osmose';
  src:  url('../fonts/osmose-UltraLight.woff') format('woff'),
        url('../fonts/osmose-UltraLight.woff2') format('woff2');
        font-family: 'surt';
  src:  url('../fonts/surt-regular.woff') format('woff'),
        url('../fonts/surt-regular.woff2') format('woff2');
}

sup {
  font-size: 12px;
}

li {
  list-style-type: none;
  font-family: surt;
}

.resp {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
nav li {
  display: inline;
  float: left;
  border-radius: 5px;
  background-color: rgb(45, 45, 45);
  width: 100px;
}
nav a {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}
nav ul {
  width: auto;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.jumbotron {
  padding: 15px;
}

a.top-button {
  position: fixed;
  bottom: 0;
  left: 85%;
  width: 75px;
  background-color: rgb(45, 45, 45);
}

.top-button  {
  padding: 5px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  text-align: center;
}

a:hover.top-button {
  background-color: rgb(255, 255, 255);
  color: black;
}
