.profile-img {
  width:128px;
  height:auto;
  float:right;
  margin: auto;
  padding: 10px;
  display: inline;
  border-bottom: 8px solid black;
  border-left: 8px solid black;
}

h1 {
  width: auto;
  text-align: left;
  display: block;
  font-family: impact;
  font-size: 50px;
  text-transform: uppercase;
  /* border-right: 8px solid black; */
  border-left: 8px solid black;
  border-bottom: 8px solid black;
  overflow: hidden;
  padding-right: 0;
}

.company-name {
  float: right;
  font-size: 16px;
  font-weight: bold;
}
a {
  color: black;
}
a.company-name {
  color: black;
  text-decoration: none;
}

.contact {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.cont {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: rgb(41, 44, 51);
  padding-right: 5px;
}

h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  background-color: rgb(75, 75, 75);
  color: white;
  width: 100%;
  padding-left: 15px;
  border-radius: 5px;
}

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}


ul {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}

.job-title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  border-top: 3px solid black;
  border-left: 5px solid black;
  padding-left: 3px;
  margin-top: 20px;
}


sub {
  font-size: 12px;
  padding-left: 8px;
  float: right;

}

ul.resp {
  list-style-type:square;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

li.job-title {
  list-style-type: none;
}
.resp {
  padding-top: 0;
  margin: 5px;
  font-size: 14px;
  width: 80%;
}
nav li {
  display: inline;
  float: left;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(45, 45, 45);
  width: 100px;
}
nav a {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}
nav ul {
  width: auto;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.jumbotron {
  padding: 15px;
  overflow: hidden;
}


a.top-button {
  position: fixed;
  bottom: 0;
  left: 85%;
  width: 75px;
  background-color: rgb(45, 45, 45);
}

.top-button  {
  padding: 5px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  text-align: center;
}

a:hover.top-button {
  background-color: rgb(255, 255, 255);
  color: black;
}

.jobd {
  margin: 10px;
  font-size: 12px;
  width: 60%;
}

.phone-padding {
  padding-right: 5px;
}

.comet {
  float:right;
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height:13px;
}

ul.comet {
  list-style-type: none;
  text-align: right;
}

/* sup {
  float:right;
  padding-left: 100px;
} */

sup.card {
  float: right;
}
