.profile-img {
  width:125px;
  height:auto;
  float:right;
  margin: auto;
  padding: 5px;
}

h1 {
  text-align: left;
  font-family: surt;
  text-transform: uppercase;
  font-size: 50px;
  font-stretch: expanded;

}

.contact {
  font-family: osmose;
}

.cont {
  font-family: surt-bold;
  color: rgb(41, 44, 51)
}

h3 {
  font-family: surt-bold;
  font-size: 18px;
}

ul {
  font-family: osmose;
}

.job.title {
  font-family: osmose;
  font-size: 16px;
}

@font-face {
  font-family: 'osmose';
  src:  url('fonts/Osmose-UltraLight.woff') format('woff'),
        url('fonts/Osmose-UltraLight.woff2') format('woff2');
        font-family: 'surt';
  src:  url('fonts/surt-regular.woff') format('woff'),
        url('fonts/surt-regular.woff2') format('woff2');
}

sup {
  color: rgb(62, 68, 80);
}

li {
  list-style-type: none;
}
